.estainvisible {
  visibility: hidden;
}

.animacion1 {
  transition: width 5s;
  cursor: pointer;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: auto;
  height: 100vh;

  /* -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center; */
  /* justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; */
  /* align-items: center; */
}


.swiper-container1 {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: auto;
  height: 100vh;

  /* -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center; */
  /* justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center; */
  /* align-items: center; */
}
.swiper-slide:nth-child(1n) {
  width: 35%;
}
.swiper-slide:nth-child(2n) {
  width: 40%;
}
.swiper-slide:nth-child(3n) {
  width: 100%;
}
.ad2hs-prompt {
  background-color: rgb(59, 134, 196); /* Blue */
  border: none;
  display: none;

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: fixed;
  margin: 0 1rem 1rem;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: calc(100% - 32px); */
  width: 300px;
  height: 50px;
  z-index: 5;

}

@media screen and (min-width: 280px) and (max-width: 780px){
  .cajaCanvasPDF {
    transform: scale(0.32); 
    transform-origin: left top; 
    left: -20px !important; 
    position: relative;
  }
  .cajaMenu {
    position: fixed;
    top: 44px;
    z-index: 5;
    width: 100%;
    height: 40px;
    left: 15px;
  }
  
}

@media screen and (min-width: 780px) {
  .cajaCanvasPDF {
    transform: scale(0.8); 
    transform-origin: left top; 
    left: -50px !important; 
    position: relative;
  }
  .cajaMenu {
    position: fixed;
    top: 0px;
    z-index: 50000;
    width: 50%;
    height: 40px;
    left: 15px;
    left: 20%;
    right: auto;
  }
}
